* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Merriweather, Georgia, serif;
    font-size: 1em;
    color: darkgreen;
    background-color: #fff;
}

header {
    margin: 0 auto;
    width: 650px;
}

h1 {
    margin: 1rem;
    font-size: 1.5em;
    color: darkblue;
    text-align: center;
}

form {
    background-color: rgb(0 0 0 / 0.1);
    width: 650px;
    display: grid;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    box-sizing: border-box;
}

fieldset {
    display: grid;
    font-size: 1.3rem;
    padding: 0.5rem;
    gap: .5rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0);
    padding: 1rem;
    line-height: 2.5rem;
}

.information {
    grid-template-columns: 200px 1fr;
    align-items: center;

}

.questions {
    grid-template-columns: 1fr 150px;
    align-items: center;
}

.questions textarea {
    grid-column: 1 / 3;

}

legend {
    padding: 0.5rem;
    color: darkblue;
    font-size: 1.5rem;
}

/* optional */
label,
input,
button,
select,
textarea {
    font-family: Roboto, Arial, sans-serif;
}

label {
    text-align: right;
    padding-right: 1rem;
}

input,
select,
textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input:focus {
    background: lightgoldenrodyellow;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    color: darkblue;
    border: none;
    font-size: 1.3rem;
    width: 200px;
    place-self: center;
}

button::after {
    content: " >>>";
}

button:hover {
    background-color: green;
}

footer {
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    border-top: 1px solid lightgray;
    padding: 0.5rem;
    font-size: 1.2rem;
}